<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="extentReport.Listeners"></listener>
	</listeners>

	<test thread-count="5" name="cart app test">
		<classes>
	
			<class name="practiceAPK.homePageTest" />
		</classes>
	</test>

</suite> <!-- Suite -->
